.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.loginback {
  width: 100vw;
  height: 100vh;
  background: url('../../assets/static/1123.jpg') no-repeat;
  background-size: cover;
}
